# Boolean Datatypes

In [10]:
x =0

In [11]:
bool(x)

False

In [2]:
type(False)

bool

In [3]:
bool(x>=1)

True

In [6]:
bool(0),bool(1.4)

(False, True)

# Operators

<html>
    <b> Comparison Operators </b>
</html>

<div class="table-contents"><table summary="Comparison Operators" style="border-collapse: collapse;border-top: 0.5pt solid ; border-bottom: 0.5pt solid ; border-left: 0.5pt solid ; border-right: 0.5pt solid ; "><colgroup><col><col></colgroup><thead><tr><th style="border-right: 0.5pt solid ; border-bottom: 0.5pt solid ; " valign="top"><p>Operator</p></th><th style="border-bottom: 0.5pt solid ; " valign="top"><p>Meaning</p></th></tr></thead><tbody><tr><td style="border-right: 0.5pt solid ; border-bottom: 0.5pt solid ; " valign="top"><p><code class="literal">==</code></p></td><td style="border-bottom: 0.5pt solid ; " valign="top"><p>Equal to</p></td></tr><tr><td style="border-right: 0.5pt solid ; border-bottom: 0.5pt solid ; " valign="top"><p><code class="literal">!=</code></p></td><td style="border-bottom: 0.5pt solid ; " valign="top"><p>Not equal to</p></td></tr><tr><td style="border-right: 0.5pt solid ; border-bottom: 0.5pt solid ; " valign="top"><p><code class="literal">&lt;</code></p></td><td style="border-bottom: 0.5pt solid ; " valign="top"><p>Less than</p></td></tr><tr><td style="border-right: 0.5pt solid ; border-bottom: 0.5pt solid ; " valign="top"><p><code class="literal">&gt;</code></p></td><td style="border-bottom: 0.5pt solid ; " valign="top"><p>Greater than</p></td></tr><tr><td style="border-right: 0.5pt solid ; border-bottom: 0.5pt solid ; " valign="top"><p><code class="literal">&lt;=</code></p></td><td style="border-bottom: 0.5pt solid ; " valign="top"><p>Less than or equal to</p></td></tr><tr><td style="border-right: 0.5pt solid ; " valign="top"><p><code class="literal">&gt;=</code></p></td><td style="" valign="top"><p>Greater than or equal to</p></td></tr></tbody></table></div></div>

In [ ]:
print(bool.__doc__)

In [ ]:
type(True)

## Integer Comparison

In [12]:
x = 5
y = 6

In [14]:
flags_int = x>=5

In [15]:
type(flags_int)

bool

In [16]:
x_dec = x <= y

In [20]:
x = 5
y=5

In [21]:
x is y

True

In [19]:
x==y

True

In [22]:
y = 124749276
x = 124749276

In [23]:
id(x),id(y)

(2942812787216, 2942812787504)

In [24]:
x == y

True

In [25]:
x is y

False

In [26]:
id(x) == id(y)

False

## Strings

In [30]:
x_str = 'hello python how are you'
y_str = 'hello python how are you'

In [31]:
id(x_str),id(y_str)

(2942806926720, 2942806925360)

In [32]:
x_str is y_str

False

In [33]:
x_str == y_str

True

In [ ]:
x_str = 'hello'
y_str = 'helloooo'

In [ ]:
x_str > y_str

In [ ]:
x_str is y_str

In [ ]:
'l' in x_str

In [34]:
x_str

'hello python how are you'

In [41]:
'hello ' in x_str

True

## Lists

In [45]:
lst_x = [25,2,3,10,5]
lst_y = [50,3.4,5.7,7.3]

In [43]:
lst_x[3] < lst_y[0]

True

In [46]:
lst_x <lst_y

True

In [ ]:
2 == 2

In [ ]:
2 is lst_x[1]

In [47]:
lst_str = ['hello','python','pandas','numpy']

In [54]:
lst_str

['hello', 'python', 'pandas', 'numpy']

In [50]:
'pandas' in lst_str

True

In [53]:
lst_str[0]

'hello'

In [52]:
'hell' in lst_str[0]

True

In [ ]:
lst_z = lst_x
lst_z is lst_x

## Tuples

In [55]:
tup_a = (1,2,3,4,5)
tup_b = tup_a

In [ ]:
tup_b is tup_a

In [56]:
5 in tup_b

True

In [59]:
tup_a[1] > tup_b[2]

False

In [65]:
lst_items = list(tup_a)

In [66]:
for item in lst_items[:]:
    if item <3:
        lst_items.append(50)

In [67]:
lst_items

[1, 2, 3, 4, 5, 50, 50]

## Sets

In [ ]:
set_a = {1,2,3,4,5}
set_b = set_a.copy()
set_a is set_b

In [ ]:
1 in set_a

## Dictionary

In [68]:
dict_num = {1:'one',2:'two',3:'three',4:'four'}

In [69]:
dict_num.values()

dict_values(['one', 'two', 'three', 'four'])

In [70]:
'two' in dict_num.values()

True

In [71]:
2 in dict_num.keys()

True

In [72]:
dict_num.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')])

In [75]:
(2,'two') in dict_num.items()

True

In [76]:
(2,'three') in dict_num.items()

False

## And ,Or operator

In [ ]:
x,y =6,5

In [ ]:
type(x >0 and y==0)

In [ ]:
if x >0 and y>0:
    print(x,y)

In [82]:
2 in dict_num.keys() and 'five' in dict_num.values()

False

In [ ]:
and &

In [ ]:
or |

In [83]:
lst_1 = [1,2,3,4,5]
lst_2 = [4,5,6,7,8]

In [85]:
3 in lst_1 and 4 in lst_2

True

In [86]:
3 in lst_1 & 4 in lst_2

TypeError: unsupported operand type(s) for &: 'list' and 'int'

In [87]:
lst_1 & lst_2

TypeError: unsupported operand type(s) for &: 'list' and 'list'

In [88]:
set(lst_1) & set(lst_2)

{4, 5}