In [1]:
import json

In [6]:
print(dir(json))

['JSONDecodeError', 'JSONDecoder', 'JSONEncoder', '__all__', '__author__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_default_decoder', '_default_encoder', 'codecs', 'decoder', 'detect_encoding', 'dump', 'dumps', 'encoder', 'load', 'loads', 'scanner']

# JSON Encoding

In [2]:
lst_stud = list()
stud_1 ={'Name':'Ron','Branch':'Computer','Interest':'Programming'}
stud_2 = {'Name':'Harry','Branch':'Literature','Interest':'Books'}
stud_3 = {'Name':'Thomas','Branch':'Mathematics','Interest':'Solving Equation'}
lst_stud.extend([stud_1,stud_2,stud_3])

In [3]:
lst_stud

[{'Name': 'Ron', 'Branch': 'Computer', 'Interest': 'Programming'},
 {'Name': 'Harry', 'Branch': 'Literature', 'Interest': 'Books'},
 {'Name': 'Thomas', 'Branch': 'Mathematics', 'Interest': 'Solving Equation'}]

In [4]:
dict_students = {stud['Name']:stud for stud in lst_stud}

In [5]:
dict_students

{'Ron': {'Name': 'Ron', 'Branch': 'Computer', 'Interest': 'Programming'},
 'Harry': {'Name': 'Harry', 'Branch': 'Literature', 'Interest': 'Books'},
 'Thomas': {'Name': 'Thomas',
  'Branch': 'Mathematics',
  'Interest': 'Solving Equation'}}

In [7]:
help(json.dumps)

Help on function dumps in module json:

dumps(obj, *, skipkeys=False, ensure_ascii=True, check_circular=True, allow_nan=True, cls=None, indent=None, separators=None, default=None, sort_keys=False, **kw)
    Serialize ``obj`` to a JSON formatted ``str``.

    If ``skipkeys`` is true then ``dict`` keys that are not basic types
    (``str``, ``int``, ``float``, ``bool``, ``None``) will be skipped
    instead of raising a ``TypeError``.

    If ``ensure_ascii`` is false, then the return value can contain non-ASCII
    characters if they appear in strings contained in ``obj``. Otherwise, all
    such characters are escaped in JSON strings.

    If ``check_circular`` is false, then the circular reference check
    for container types will be skipped and a circular reference will
    result in an ``OverflowError`` (or worse).

    If ``allow_nan`` is false, then it will be a ``ValueError`` to
    serialize out of range ``float`` values (``nan``, ``inf``, ``-inf``) in
    strict compliance of the JSON specification, instead of using the
    JavaScript equivalents (``NaN``, ``Infinity``, ``-Infinity``).

    If ``indent`` is a non-negative integer, then JSON array elements and
    object members will be pretty-printed with that indent level. An indent
    level of 0 will only insert newlines. ``None`` is the most compact
    representation.

    If specified, ``separators`` should be an ``(item_separator, key_separator)``
    tuple.  The default is ``(', ', ': ')`` if *indent* is ``None`` and
    ``(',', ': ')`` otherwise.  To get the most compact JSON representation,
    you should specify ``(',', ':')`` to eliminate whitespace.

    ``default(obj)`` is a function that should return a serializable version
    of obj or raise TypeError. The default simply raises TypeError.

    If *sort_keys* is true (default: ``False``), then the output of
    dictionaries will be sorted by key.

    To use a custom ``JSONEncoder`` subclass (e.g. one that overrides the
    ``.default()`` method to serialize additional types), specify it with
    the ``cls`` kwarg; otherwise ``JSONEncoder`` is used.

In [8]:
e1 = json.dumps(lst_stud)
print(e1)

[{"Name": "Ron", "Branch": "Computer", "Interest": "Programming"}, {"Name": "Harry", "Branch": "Literature", "Interest": "Books"}, {"Name": "Thomas", "Branch": "Mathematics", "Interest": "Solving Equation"}]

In [9]:
with open('test_json.txt','w') as fp:
    e1 = json.dumps(lst_stud)
    json.dump(lst_stud,fp,indent=4)

In [ ]:
e1

In [10]:
with open('test_json_dict','w') as fp:
    e2 = json.dumps(dict_students)
    json.dump(dict_students,fp,indent=4)

In [11]:
e2

'{"Ron": {"Name": "Ron", "Branch": "Computer", "Interest": "Programming"}, "Harry": {"Name": "Harry", "Branch": "Literature", "Interest": "Books"}, "Thomas": {"Name": "Thomas", "Branch": "Mathematics", "Interest": "Solving Equation"}}'

In [ ]:
dict_students

# JSON Decoding

In [14]:
e1

'[{"Name": "Ron", "Branch": "Computer", "Interest": "Programming"}, {"Name": "Harry", "Branch": "Literature", "Interest": "Books"}, {"Name": "Thomas", "Branch": "Mathematics", "Interest": "Solving Equation"}]'

In [15]:
e2

'{"Ron": {"Name": "Ron", "Branch": "Computer", "Interest": "Programming"}, "Harry": {"Name": "Harry", "Branch": "Literature", "Interest": "Books"}, "Thomas": {"Name": "Thomas", "Branch": "Mathematics", "Interest": "Solving Equation"}}'

In [16]:
d1 = json.loads(e1)
d2 = json.loads(e2)

In [17]:
d1

[{'Name': 'Ron', 'Branch': 'Computer', 'Interest': 'Programming'},
 {'Name': 'Harry', 'Branch': 'Literature', 'Interest': 'Books'},
 {'Name': 'Thomas', 'Branch': 'Mathematics', 'Interest': 'Solving Equation'}]

In [18]:
d2

{'Ron': {'Name': 'Ron', 'Branch': 'Computer', 'Interest': 'Programming'},
 'Harry': {'Name': 'Harry', 'Branch': 'Literature', 'Interest': 'Books'},
 'Thomas': {'Name': 'Thomas',
  'Branch': 'Mathematics',
  'Interest': 'Solving Equation'}}

In [19]:
with open('test_json_dict','r') as fr:
    e3 = json.load(fr)
e3

{'Ron': {'Name': 'Ron', 'Branch': 'Computer', 'Interest': 'Programming'},
 'Harry': {'Name': 'Harry', 'Branch': 'Literature', 'Interest': 'Books'},
 'Thomas': {'Name': 'Thomas',
  'Branch': 'Mathematics',
  'Interest': 'Solving Equation'}}

In [ ]:
d1[0]

In [ ]:
d2['Ron']

In [ ]:
help(json.load)

## Requests module

In [1]:
import requests

In [26]:
res = requests.get('https://api.covid19api.com/total/country/india')

In [28]:
lst_covid = res.json()

In [29]:
import pandas as pd

In [30]:
pd.DataFrame(lst_covid)

,Country,CountryCode,Province,City,CityCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date
0,India,,,,,0,0,0,0,0,0,2020-01-22T00:00:00Z
1,India,,,,,0,0,0,0,0,0,2020-01-23T00:00:00Z
2,India,,,,,0,0,0,0,0,0,2020-01-24T00:00:00Z
3,India,,,,,0,0,0,0,0,0,2020-01-25T00:00:00Z
4,India,,,,,0,0,0,0,0,0,2020-01-26T00:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...
891,India,,,,,0,0,43486326,525168,0,42961158,2022-07-01T00:00:00Z
892,India,,,,,0,0,43502429,525199,0,42977230,2022-07-02T00:00:00Z
893,India,,,,,0,0,43518564,525223,0,42977230,2022-07-03T00:00:00Z
894,India,,,,,0,0,43531650,525242,0,43006408,2022-07-04T00:00:00Z
895,India,,,,,0,0,43547809,525270,0,43022539,2022-07-05T00:00:00Z

In [33]:
res = requests.get('https://api.bigdatacloud.net/data/reverse-geocode-client',params={'latitude':15.299326,'longitude':74.123993})

In [36]:
dict_result = res.json()

In [37]:
dict_result.keys()

dict_keys(['latitude', 'longitude', 'continent', 'lookupSource', 'continentCode', 'localityLanguageRequested', 'city', 'countryName', 'countryCode', 'postcode', 'principalSubdivision', 'principalSubdivisionCode', 'plusCode', 'locality', 'localityInfo'])

In [41]:
dict_result['countryName']

'India'

In [11]:
params = {'q':'labradoodle'}
response = requests.get("https://api.thedogapi.com/v1/breeds/search",params)

In [13]:
response

In [14]:
response.content

b'[{"weight":{"imperial":"45 - 100","metric":"20 - 45"},"height":{"imperial":"14 - 24","metric":"36 - 61"},"id":148,"name":"Labradoodle","breed_group":"Mixed","life_span":"10 - 15 years"}]'

In [15]:
response.json()

[{'weight': {'imperial': '45 - 100', 'metric': '20 - 45'},
  'height': {'imperial': '14 - 24', 'metric': '36 - 61'},
  'id': 148,
  'name': 'Labradoodle',
  'breed_group': 'Mixed',
  'life_span': '10 - 15 years'}]

In [17]:
response = requests.get(url,headers=headers)

In [19]:
response.content

b'{"message":"You are not subscribed to this API."}'